html {
  background-color: gray;
}
div {
  background-color: white;
}
.graphic {
display: block;



}
.blog {
display: inline-block;
height: 500px;
  width: 79%;
  border: 1px solid black;
  border-radius: 1px;
margin: 0px;
}
.sidebar {
  display: inline-block;
height: 500px;
  width: 18%;
  border: 1px solid black;
  border-radius: 1px;

margin: 0px;
}

.footer {


}

#line {
  border: 1px solid black;
  margin-top: 25px
}