html {
  background-color: white;
}
div {
  background-color: white;
}
.graphic {

}
h2 span {

position: fixed;
  top: 100px
  left: 10
  width: 100%;
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;

   background: rgba(0, 0, 0, 0.7);
   padding: 15px;

}

graphic {
display:
clear: both
width: 800px;
    height: 200px;
    position: relative;



}
.blog {
display: inline-block;
height: 500px;
  width: 650px;



}
.sidebar {
float: right;
height: 500px;
  width: 140px;
border-left: 4px solid black;
border-left-color: green;

padding: 0px;
margin: -4px;
margin-top: -50px;
}

.footer {


}

#line {
  border: 1px solid blue;
  margin-top: 25px

}