body {
  margin: 10;
}
.text {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
.pic1 {


margin: 0 auto;
  width: 612px;
    height: 831px;
   padding:1px;
   border:1px solid #021a40;
  background-color:#ff0;

}
.pic2 {
  margin: 0 auto;
  width: 585px;
    height: 904px;
   padding:1px;
   border:1px solid #021a40;
  background-color:#ff0;

}
.pic3 {
  margin: 0 auto;
 width: 621px;
    height: 818px;
   padding:1px;
   border:1px solid #021a40;
  background-color:#ff0;

}
.pic4 {
  margin: 0 auto;
 width: 548px;
    height: 797px;
   padding:1px;
   border:1px solid #021a40;
  background-color:#ff0;

}
.pic5 {
  margin: 0 auto;
 width: 626px;
    height: 925px;
   padding:1px;
   border:1px solid #021a40;
  background-color:#ff0;

}
.wrap {

  width: 800px;
  height: 1000px;
  background: white;
  font-family:sans-serif;
letter-spacing: 1px;
line-height: 200%;
padding-top: -80px;

}
.graphic {

  background: red;
  position: absolute;

}

.writtenlogo {
width: 125px;
  height: 135px;
margin: auto;
  background: black;
  position: absolute;
  left: 30px; top: 30px;
color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;

   background: rgba(0, 0, 0, 0.4);
   padding: 15px;

}

.right {

width: 150px;
  height: 90px;
margin: auto;
color: white;
;
  position: absolute;
  left: 640px; top: 40px;
font-style: italic;
font-size: 50px;
font-family: fantasy;

}

.topgraphic {
width: 100px;
  height: 400px;
margin: auto;
  background: white;
  position: absolute;
  left: 800px; top: 200px;


}

#line {
  border: 1px solid blue;
  margin-top: 25px

}